<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <a class="navbar-brand" href="/index">Lilac TV</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{^session_user}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/login">
                        <span>로그인</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/register">
                        <span>회원등록</span>
                    </a>
                </li>
                {{/session_user}}
                {{#session_user}}
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout">
                        <span>로그아웃</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/{{session_user.id}}/form">
                        <span>개인정보</span>
                    </a>
                </li>
                {{/session_user}}
                <li class="nav-item">
                    <a class="nav-link" href="/manual">
                        <span>사용자 가이드</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/qna/qnaList/1/8">
                        <span>QnA</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">
                        <span>Contact</span>
                    </a>
                </li>
                {{#session_user}}
                {{#lilactvUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/firmware">
                        <span>펌웨어 다운로드</span>
                    </a>
                </li>
                {{/lilactvUser}}
                <li class="nav-item dropdown">
                    {{#admin}}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>관리자</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/admin/itemList">Devices</a>
                        <a class="dropdown-item" href="/admin/userList">Users</a>
                    </div>

                    {{/admin}}
                </li>
                {{/session_user}}
            </ul>
        </div>
    </div>
</nav>
