<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header2 }}

        <script>
            let rmCheck = document.getElementById("rememberMe"),
                emailInput = document.getElementById("inputEmail");

            if (localStorage.checkbox && localStorage.checkbox != "") {
                rmCheck.setAttribute("checked", "checked");
                emailInput.value = localStorage.username;
            } else {
                rmCheck.removeAttribute("checked");
                emailInput.value = "";
            }

            function lsRememberMe() {
                if (rmCheck.checked && emailInput.value != "") {
                    localStorage.username = emailInput.value;
                    localStorage.checkbox = rmCheck.value;
                } else {
                    localStorage.username = "";
                    localStorage.checkbox = "";
                }
            }
        </script>
        <style>
            #bj {
                padding-top: 100px;
                /*padding-bottom: 355px;*/
            }
        </style>

    </head>
    <body>

        {{> include/navbar }}

        <div id="bj" class="container">
            <div class="card card-login mx-auto mt-5" style="width: 40rem">
                {{#errorMsg}}
                <div class="card-header" style="background: #cc6b80; color: #ffffff">{{errorMsg}}</div>
                {{/errorMsg}}
                {{^errorMsg}}
                <div class="card-header">로그인</div>
                {{/errorMsg}}
                <div class="card-body">
                    <form action="/users/login" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" name="email" class="form-control" required="required" autofocus="autofocus">
                                <label for="inputEmail">이메일 주소</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="pass" class="form-control" required="required">
                                <label for="inputPassword">비밀번호</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="lsRememberMe" id="rememberMe">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" onclick="lsRememberMe()">로그인</button>
                    </form>
<!--                    <div class="text-center">-->
<!--                        <a class="d-block small" href="forgot-password">Forgot Password?</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer2 }}

    </body>
</html>