<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header3 }}

        <script>

            let LilacTVID = "empty";

            function getLilacTVChecked() {
                const checkBox = document.getElementById("isLilacTVChecked");
                if (checkBox.checked === true) {
                    if (LilacTVID !== "empty") document.getElementById("productID").value = LilacTVID;
                    document.getElementById("productID").requried = true;
                    document.getElementById("productID").style.display = "block";
                    document.getElementById('whereID').style.color = 'darkgray';
                    document.getElementById('whereID').innerHTML = '라일락TV의 [설정]메뉴 > 서브메뉴(왼쪽메뉴) > [제품정보]에서 확인가능';
                    document.getElementById('whereID').style.display = "block";
                }
                else {
                    LilacTVID = document.getElementById("productID").value;
                    document.getElementById("productID").value = "";
                    document.getElementById("productID").requried = false;
                    document.getElementById("productID").style.display = "none";
                    document.getElementById('whereID').style.display = "none";
                }
            }

            function getPasswordChecked() {
                const checkBox = document.getElementById("isPasswordChecked");
                if (checkBox.checked === true) {
                    document.getElementById("inputPassword").style.display = "block";
                    document.getElementById("labelPassword").style.display = "block";
                    document.getElementById("confirmPassword").style.display = "block";
                    document.getElementById("labelConfirmPassword").style.display = "block";
                    document.getElementById('submit').disabled = true;
                }
                else {
                    document.getElementById("inputPassword").style.display = "none";
                    document.getElementById("labelPassword").style.display = "none";
                    document.getElementById("confirmPassword").style.display = "none";
                    document.getElementById("labelConfirmPassword").style.display = "none";
                    document.getElementById("message").style.display = "none";
                    document.getElementById('submit').disabled = false;
                }
            }

            function check_pass() {
                if (document.getElementById('inputPassword').value === document.getElementById('confirmPassword').value) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'matching';
                    document.getElementById('submit').disabled = false;
                } else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'not matching';
                    document.getElementById('submit').disabled = true;
                }
            }

        </script>

        <style>
            #bj {
                padding-top: 100px;
            }
        </style>

    </head>
    <body>

        {{> include/navbar }}

        <div id="bj" class="container">
            <div class="card card-register mx-auto mt-5" style="width: 40rem;">
                {{#user}}
                {{#errorMsg}}
                <div class="card-header" style="background: #cc6b80; color: #ffffff">{{errorMsg}}</div>
                {{/errorMsg}}
                {{^errorMsg}}
                <div class="card-header">개인 정보 관리</div>
                {{/errorMsg}}
                <div class="card-body">
                    <form action="/users/updateUser" method="post">
<!--                        <input type="hidden" name="_method" value="put"/>-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="namebar" style="width: 80px">Name</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                   name="name" placeholder="이름" required="required" autofocus="autofocus" value="{{name}}" onfocus="getLilacTVChecked()">
                        </div>
                        <input type="hidden" name="email" value="{{email}}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="emailbar" style="width: 80px">Email</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                   name="email" placeholder="이메일" required="required" value="{{email}}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="phonebar" style="width: 80px">Mobile</span>
                            </div>
                            <input type="tel" pattern="[0-9]{4}[0-9]{3}[0-9]{3}" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                   name="mobile" placeholder="핸드폰" required="required" value="{{mobile}}">
                        </div>
                        {{/user}}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isLilacTVChecked" onclick="getLilacTVChecked()" {{lilactv}}>
                            <label class="form-check-label" for="isLilacTVChecked">라일락TV를 사용중 입니다.</label>
                        </div>
                        <span id='whereID' style="font-size: 12px; display:none"></span>
                        <div class="input-group mb-3">
                            <input type="text" pattern="[a-f0-9]{14}" id="productID" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                   name="lilactvID" placeholder="제품ID" style="display:none" value="{{lilactvID}}">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="isPasswordChecked" onclick="getPasswordChecked()">
                            <label class="form-check-label" for="isPasswordChecked">비밀번호를 변경합니다.</label>
                        </div>
                        {{#user}}
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" name="pass" class="form-control" style="display: none">
                                        <label id="labelPassword" for="inputPassword" style="display: none">Password</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <input type="password" id="confirmPassword" name="cpass" class="form-control" style="display: none" onfocusout='check_pass()'>
                                        <label id="labelConfirmPassword" for="confirmPassword" style="display: none" >Confirm password</label>
                                        <span id='message'></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="submit" >Update</button>
                        {{/user}}
                    </form>
                </div>
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer3 }}

    </body>
</html>