<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

    </head>
    <body>

        {{> include/navbar }}

        <div id="content-wrapper" style="margin-top: 120px">
            <div class="container-fluid">
                <!-- Page Content -->
                <div class="container">
                    <div class="row" style="margin-top: 20px">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/AmL2E6_-DZ0"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen class="card-img-top"></iframe>
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">펌웨어 설치하기</h5>
                                    <div class="card-text text-black-50">
                                        <a onclick="location.href='http://lilactv.com/BadJin/Updates/Kor/LilacTV_Firmware.zip'" style="cursor: pointer">LilacTV_Firmware.zip</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-body" style="height: 403px">
                                    <h5 class="card-title mb-0 text-center">설치전 사전준비</h5>
                                    <div class="card-text text-black-50 text-left">
                                        <p></p>
                                        <ol>
                                            <li>
                                                2GB 이상의 포맷된 USB 메모리 스틱을 준비합니다.
                                            </li>
                                            <li>
                                                링크된 LilacTV_Firmware.zip 파일을 다운로드 합니다.
                                            </li>
                                            <li>
                                                다운로드 받은 파일을 압축해제 합니다.
                                            </li>
                                            <li>
                                                압축해제한 폴더안의 2개을 파일을 USB 메모리에 복사합니다.
                                            </li>
                                            <li>
                                                왼쪽 영상의 방법으로 펌웨어 업데이트를 진행합니다.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
             <!-- /.container -->
        </div>

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>