<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

    </head>
    <body>

        {{> include/navbar }}

        <div id="content-wrapper" style="margin-top: 120px">
            <div class="container-fluid">
                <!-- Page Content -->
                <div class="container" style="margin-top: 20px" align="center">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-body" style="height: 403px">
                                    <h5 class="card-title mb-0 text-center">설치전 사전준비</h5>
                                    <div class="card-text text-black-50 text-left">
                                        <p></p>
                                        <ul>
                                            <li>
                                                2GB 이상의 포맷된 USB 메모리 스틱을 준비합니다.
                                            </li>
                                            <li>
                                                링크된 S905-Kor-1.0.6-update.zip 파일과
                                            </li>
                                            <li>
                                                factory_update_param.aml 파일을 다운로드 합니다.
                                            </li>
                                            <li>
                                                다운로드 받은 파일들을 USB 메모리에 복사합니다.
                                            </li>
                                            <li>
                                                [사용자 가이드]에서 "펌웨어 업데이트" 영상을 확인하신후
                                            </li>
                                            <li>
                                                영상의 설명대로 업데이트를 진행합니다.
                                            </li>
                                        </ul>
                                        <div class="card-text text-danger text-center" style="margin-top: 25%">
                                            <a onclick="location.href='http://lilactv.com/BadJin/Updates/Kor/S905-Kor-1.0.6-update.zip'" style="cursor: pointer">S905-Kor-1.0.6-update.zip</a>
                                            <br>
                                            <a onclick="location.href='http://lilactv.com/BadJin/Updates/Kor/factory_update_param.aml'" style="cursor: pointer">factory_update_param.aml</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
             </div>
             <!-- /.container -->
        </div>

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>