<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

        <style>
            #bj {
                padding-top: 100px;
                /*padding-bottom: 361px;*/
            }
        </style>

    </head>
    <body>

    {{> include/navbar }}

        <div id="bj" class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">비밀번호 재설정</div>
                <div class="card-body">
                    <div class="text-center mb-4">
                        <p>회원등록시 사용했던 이메일 주소를 입력하세요.</p>
                    </div>
                    <form action="/forgot" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
                                <label for="inputEmail">이메일 주소를 입력하세요</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">재설정 링크 발송</button>
                    </form>
                </div>
            </div>
        </div>

    {{> include/stickyFooter}}
    {{> include/footer }}

    </body>
</html>