<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

        <style>
            #bj {
                padding-top: 100px;
                /*padding-bottom: 361px;*/
            }
        </style>

    </head>
    <body>

    {{> include/navbar }}

        <div id="bj" class="container">
            <div class="card card-login mx-auto mt-5" style="width: 20rem">
                <div class="card-header">비밀번호 재설정</div>
                <div class="card-body">
                    <div class="text-left mb-4">
                        <p style="font-size: 12px">로그인시 사용하는 이메일 주소를 입력하세요. 입력된 주소로 재설정 링크를 발송 합니다.</p>
                    </div>
                    <form action="/forgot" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" name="email" class="form-control" required="required" autofocus="autofocus">
                                <label for="inputEmail">이메일 주소</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </form>
                </div>
            </div>
        </div>

    {{> include/stickyFooter}}
    {{> include/footer }}

    </body>
</html>