<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>

<!--        <div th:replace="fragments/header :: header"></div>-->
        {{> include/header }}

    </head>
    <body>
<!--        <div th:replace="fragments/navbar :: navbar"></div>-->
        {{> include/navbar }}

        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">Delivers the ultimate</h1>
                    <h2 class="masthead-subheading mb-0">Entertainment Experience</h2>
                    <a href="/manual" class="btn btn-primary btn-xl rounded-pill mt-5">User's Guide</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/screenshot1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">최신영화</h2>
                            <p>가장 빠르게 최신영화가 업데이트되며 외화의 경우 자막까지 인코딩 되어 따로 자막을 준비할 필요가 없습니다.
                                라일락TV는 KODI 멀티미디어 플레이어를 기반으로 개발됐기 때문에 기존 KODI의 애드온 기능을 그대로 사용할 수 있습니다.
                                따라서 라일락TV에 의해 업데이트는 최신영화 뿐 아니라 세계 모든 장르의 영화를 감상하실 수 있습니다.
                                * KODI 애드온에 의해 제공되는 컨텐츠는 라일락TV에서 해당 컨테츠 제공을 보장하지 않습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/screenshot2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">실시간 방송</h2>
                            <p>60여개의 다양한 한국방송 채널을 실시간으로 감상하실 수 있습니다. 동시에 제공되는 프로그램 가이드(편성표) 또한 주기적으로 업데이트 되고 있습니다.
                                공중파 / 종편 / 스포츠 / 영화 / 아웃도어 및 다큐멘터리 / 키즈 등 다양한 채널들을 1080FHD로 감상하실 수 있습니다.
                                * 원활한 감상을 위해서 10 mb/s 의 최소한의 인터넷 스피디가 요구됩니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container" style="margin-bottom: 60px">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5">
                            <img class="img-fluid rounded-circle" src="img/screenshot3.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">VOD 및 YouTube</h2>
                            <p>한국에서 방송되는 모든 종류의 예능프로그램과 드라마 및 시사프로그램등 가장빠르게 업데이트 됩니다.
                                지난 회차는 물론이며 방영종료된 프로그램도 시청하실 수 있습니다. 또한 KODI 애드온의 기능으로 YouTube를 광고없이 TV화면을 통해 즐기실 수 있습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--        <div th:replace="fragments/stickyFooter :: stickyFooter"></div>-->
<!--        <div th:replace="fragments/footer :: footer"></div>-->
        {{> include/stickyFooter}}
        {{> include/footer }}
    </body>
</html>