<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>

        {{> include/header }}

    </head>
    <body>

        {{> include/navbar }}

        <div class="container-fluid" align="center">
            <div class="container" style="margin: 65px 15px 80px;">
                <form id="updateList" action="/admin/update" method="post">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom: 14px">
                        <label class="btn btn-secondary">
                            <input type="radio" name="ListMode" id="option1" value="all" onchange="submitForm()"> All List
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="ListMode" id="option2" value="online" onchange="submitForm()"> Online
                        </label>
                    </div>
                </form>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Mac Address</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Online</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#units}}
                    <tr>
                        <td>{{seqindex}}</td>
                        <td>{{owner.name}}</td>
                        <td>{{macaddeth0}}</td>
                        <td>{{ipadd}}</td>
                        <td>{{online}}</td>
                    </tr>
                    {{/units}}
                    </tbody>
                </table>
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>