<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>

        {{> include/header }}

        <script>
            function selectedUser(id) {
                if (id === 1) {
                    alert("관리자 정보는 수정할 수 없습니다.");
                } else {
                    window.location="/admin/"+id+"/form";
                }
            }
        </script>

    </head>
    <body>

        {{> include/navbar }}

        <div class="container-fluid" align="center">
            <div class="container" style="margin: 65px 15px 80px;">
                <form id="updateList" action="/admin/update" method="post">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-bottom: 14px">
                        <label class="btn btn-secondary">
                            <input type="radio" name="ListMode" id="option1" value="100" onchange="submitForm()"> All List
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="ListMode" id="option2" value="101" onchange="submitForm()"> Online
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="ListMode" id="option3" value="102" onchange="submitForm()"> Owner
                        </label>
                    </div>
                </form>
                <table class="table table-hover">
                    {{#all}}
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Mac Address</th>
                            <th scope="col">IP Address</th>
                            <th scope="col">Online</th>
                        </tr>
                    </thead>
                    {{/all}}
                    {{^all}}
                    <thead>
                        <tr>
                            <th scope="col">Index</th>
                            <th scope="col">Owner</th>
                            <th scope="col">Mac Address</th>
                            <th scope="col">Expiry Date</th>
                            <th scope="col">Activation</th>
                            <th scope="col">Online</th>
                        </tr>
                    </thead>
                    {{/all}}
                    {{#units}}
                    <tbody>
                        <tr>
                            <td>{{seqindex}}</td>
                            <td>{{owner.name}}</td>
                            <td>{{macaddeth0}}</td>
                            <td>{{ipadd}}</td>
                            <td>{{online}}</td>
                        </tr>
                    </tbody>
                    {{/units}}
                    {{#subscriptions}}
                    <tbody>
                        <tr class="clickable-row" style="cursor: pointer" onclick="selectedUser({{lilacTvId.owner.id}})">
                            <td>{{id}}</td>
                            <td>{{lilacTvId.owner.name}}</td>
                            <td>{{lilacTvId.macaddeth0}}</td>
                            <td>{{endDate}}</td>
                            <td>{{status.state}}</td>
                            <td>{{lilacTvId.online}}</td>
                        </tr>
                    </tbody>
                    {{/subscriptions}}

                </table>
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>