{{> header }}
{{> header2}}

<div class="container-fluid">
    <!-- Page Content -->
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <!-- Manual 1 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zOLJ--JN0IQ"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Manual 2 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/bUMmuV7B0lg"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Manual 3 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XgCDNli4tdY"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Manual 4 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/mBUsgSi3WRc"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Manual 5 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xf_TTCA8p58"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
            <!-- Manual 6 -->
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card border-0 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ikDypvTyDQw"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="card-img-top"></iframe>
                    <div class="card-body text-center">
                        <h5 class="card-title mb-0">Team Member</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<div id="disqus_thread" style="margin-left: 280px; margin-right: 280px"></div>
<script>

    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://lilactv.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-- 라이브리 시티 설치 코드 -->
<!--<div id="lv-container" data-id="city" data-uid="MTAyMC80NTYzNC8yMjE0NQ==" style="margin-left: 30px; margin-right: 30px">-->
<!--    <script type="text/javascript">-->
<!--        (function(d, s) {-->
<!--            var j, e = d.getElementsByTagName(s)[0];-->

<!--            if (typeof LivereTower === 'function') { return; }-->

<!--            j = d.createElement(s);-->
<!--            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';-->
<!--            j.async = true;-->

<!--            e.parentNode.insertBefore(j, e);-->
<!--        })(document, 'script');-->
<!--    </script>-->
<!--    <noscript> 라이브리 댓글 작성을 위해 JavaScript를 활성화 해주세요</noscript>-->
<!--</div>-->
<!--&lt;!&ndash; 시티 설치 코드 끝 &ndash;&gt;-->



{{> footer2}}
