<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

        <link href="http://lilactv.com/BadJin/resources/static/css/styles.css" rel="stylesheet">

<!--        <script>-->
<!--            $(".submit-write input[type=submit]").click(addAnswer);-->
<!--            function addAnswer(e){-->
<!--                e.preventDefault();-->
<!--                let queryString = $(".submit-write").serialize();-->
<!--                console.log("query : " + queryString);-->

<!--                let url = $(".submit-write").attr("action");-->
<!--                console.log("url : " + url)-->
<!--                $.ajax({-->
<!--                    type : 'post',-->
<!--                    url : url,-->
<!--                    data : queryString,-->
<!--                    dataType :'json',-->
<!--                    error : onError(),-->
<!--                    success : onSuccess});-->
<!--            }-->

<!--            function onError() {-->

<!--            }-->

<!--            function onSuccess(data, status) {-->
<!--                // console.log(data)-->
<!--                let answerTemplate = $("#answerTemplate").html();-->
<!--                let template = answerTemplate.format(data.replier.name, data.FormattedCreateDate, data.content, data.questions.id, data.id);-->
<!--                $(".qna-comment-slipp-articles").prepend(template)-->
<!--            }-->

<!--            String.prototype.format = function () {-->
<!--                let args = arguments;-->
<!--                return this.replace(/{(\d+)}/g, function (match, number) {-->
<!--                    return typeof args[number] != 'undefined'-->
<!--                    ? args[number] : match;-->
<!--                });-->
<!--            };-->
<!--        </script>-->
    </head>
    <body>

        {{> include/navbar }}

        <div class="container" id="main" style="margin-bottom: 60px">
            {{#question}}
            <div class="panel panel-default">
              <header class="qna-header">
                  <h2 class="qna-title">{{title}}</h2>
              </header>
              <div class="content-main">
                  <article class="article">
                      <div class="article-header">
                          <div class="article-header-thumb">
                              <img src="../../img/icon.png" class="article-author-thumb" alt="">
                          </div>
                          <div class="article-header-text">
                              <a href="#" class="article-author-name">{{writer.name}}</a>
                              <a href="#" class="article-header-time">
                                  {{FormattedCreateDate}}
                                  <i class="icon-link"></i>
                              </a>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-body">
                              {{content}}
                          </div>
                      </div>
                      <div class="article-util">
                          <ul class="article-util-list">
                              <li>
                                  <a class="link-modify-article" href="/qna/{{id}}/form">수정</a>
                              </li>
                              <li>
                                  <form class="form-delete" action="/qna/{{id}}" method="POST">
                                      <input type="hidden" name="_method" value="DELETE">
                                      <button class="link-delete-article" type="submit">삭제</button>
                                  </form>
                              </li>
                              <li>
                                  <a class="link-modify-article" href="/qna/qnaList">목록</a>
                              </li>
                          </ul>
                      </div>
                  </article>

                  <div class="qna-comment">
                      <div class="qna-comment-slipp">
                          <p class="qna-comment-count"><strong>2</strong>개의 의견</p>
                          <div class="qna-comment-slipp-articles">
                              {{#answers}}
                              <article class="article" id="answer-1405">
                                  <div class="article-header">
                                      <div class="article-header-thumb">
                                          <img src="../../img/icon.png" class="article-author-thumb" alt="">
                                      </div>
                                      <div class="article-header-text">
                                          <a href="#" class="article-author-name">{{replier.name}}</a>
                                          <a href="#" class="article-header-time" title="퍼머링크">
                                              {{FormattedCreateDate}}
                                          </a>
                                      </div>
                                  </div>
                                  <div class="article-doc comment-doc">
                                      <p>{{content}}</p>
                                  </div>
                                  <div class="article-util">
                                      <ul class="article-util-list">
<!--                                          <li>-->
<!--                                              <a class="link-modify-article" href="/qna/{{questions.id}}/answers/{{id}}/form">수정</a>-->
<!--                                          </li>-->
                                          <li>
                                              <form class="delete-answer-form" action="/qna/{{questions.id}}/answers/{{id}}" method="POST">
                                                  <input type="hidden" name="_method" value="DELETE">
                                                  <button type="submit" class="delete-answer-button">삭제</button>
                                              </form>
                                          </li>
                                      </ul>
                                  </div>
                              </article>
                              {{/answers}}
                              <form class="submit-write" action="/qna/{{id}}/answers" method="post">
                                  <div class="form-group" style="padding:14px;">
                                      <textarea class="form-control" name="content" required></textarea>
                                  </div>
                                  <input type="submit" class="btn btn-success pull-right" value="답변하기">
<!--                                  <button type="submit" class="btn btn-success pull-right" >답변하기</button>-->
                                  <div class="clearfix" />
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            {{/question}}
        </div>

<!--        <script type="text/template" id="answerTemplate">-->
<!--            <article class="article">-->
<!--                <div class="article-header">-->
<!--                    <div class="article-header-thumb">-->
<!--                        <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">-->
<!--                    </div>-->
<!--                    <div class="article-header-text">-->
<!--                        <a href="#" class="article-author-name">{0}</a>-->
<!--                        <div class="article-header-time">{1}</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="article-doc comment-doc">-->
<!--                    {2}-->
<!--                </div>-->
<!--                <div class="article-util">-->
<!--                    <ul class="article-util-list">-->
<!--                        <li>-->
<!--                            <a class="link-modify-article" href="/api/qna/{3}/answers/{4}/form">수정</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <form class="delete-answer-form" action="/api/qna/{3}/answers/{4}/" method="POST">-->
<!--                                <input type="hidden" name="_method" value="DELETE">-->
<!--                                <button type="submit" class="delete-answer-button">삭제</button>-->
<!--                            </form>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </article>-->
<!--        </script>-->

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>