<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

        <script>
            function check_pass() {
                if (document.getElementById('inputPassword').value == document.getElementById('confirmPassword').value) {
                    document.getElementById('message').style.color = 'green';
                    document.getElementById('message').innerHTML = 'matching';
                    document.getElementById('submit').disabled = false;
                } else {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'not matching';
                    document.getElementById('submit').disabled = true;
                }
            }
        </script>

        <style>
            #bj {
                padding-top: 100px;
                /*padding-bottom: 361px;*/
            }
        </style>

    </head>
    <body>

    {{> include/navbar }}

        <div id="bj" class="container">
            <div class="card card-login mx-auto mt-5" style="width: 20rem">
                <div class="card-header">비밀번호 재설정</div>
                <div class="card-body">
                    <form action="/reset" method="post">
                        <input type="hidden" name="token" value="{{resetToken}}">
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" name="pass" class="form-control" required="required" autofocus="autofocus">
                                <label for="inputPassword">비밀번호</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="confirmPassword" name="cpass" class="form-control" required="required" onfocusout='check_pass()'>
                                <label for="confirmPassword">비밀번호 확인</label>
                                <span id='message'></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" id="submit" disabled>Confirm</button>
                    </form>
                </div>
            </div>
        </div>

    {{> include/stickyFooter}}
    {{> include/footer }}

    </body>
</html>