<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header }}

    </head>
    <body>

        {{> include/navbar }}

        <div class="container-fluid" align="center">
            <div class="container" style="margin: 117px 15px 80px;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#owner}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{mobile}}</td>
                        <td><a class="btn btn-info" href="#" role="button" onclick="editUser({{id}})">Edit</a></td>
                        <td><a class="btn btn-danger" href="#" role="button" onclick="confirmDelete({{id}})">Delete</a></td>
                    </tr>
                    {{/owner}}
                    </tbody>
                </table>
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer}}

    </body>
</html>