<!DOCTYPE html>
<html lang="en">
    <head>

        {{> include/header3 }}

        <style>
            .center {
                margin: auto;
                width: 60%;
                padding: 10px;
            }
        </style>

    </head>
    <body>

        {{> include/navbar }}

        <div id="content-wrapper" style="margin-top: 120px; margin-bottom: 80px">
            <div class="container-fluid">
                <!-- Page Content -->
                <div class="container">
                    <div class="row">
                        <div class="center">
                            <h3>질문 하기</h3>
                            {{#question}}
                            <form action="/qna/questionSubmit/{{id}}" method="post">
                                <input type="hidden" name="_method" value="put"/>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>제목:</label>
                                        <input type="text" class="form-control" name="title" id="title" required value="{{title}}">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>내용:</label>
                                        <textarea rows="10" cols="100" class="form-control" name="content" id="message" required maxlength="999" style="resize:none">{{content}}</textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">보내기</button>
                            </form>
                            {{/question}}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
        </div>

        {{> include/stickyFooter}}
        {{> include/footer3 }}

    </body>
</html>